.page-number,
.previous,
.next {
    background: #ffffff;
    border: 1px solid;
    color: #478CF0;
    font-size: 16px;
    padding: 10px 12px;
}

.page-number:not(:last-child) {
    border-right: none;
}

.active {
    background: #478CF0;
    color: #ffffff;
}

.previous,
.next {
    border-radius: 8px;
    width: 90px;
}