.box {
    margin-top: 45px;
}

.txt {
    border-radius: 5px;
    padding: 10px;
    width: 300px;
}

.btn {
    height: 37px;
    margin-left: 5px;
    width: 60px;
    display: inline-block;
    color: white;
    border: none;
    border-radius: 3px;
    background: green;
}

.loading {
    height: 40px;
    position: absolute;
}