.box {
    padding-top: 40px;
    text-align: center;
}

.txtwidth {
    border-radius: 5px;
    padding: 10px;
    width: 300px;
}

.btn {
    height: 40px;
    margin-left: 5px;
    width: 60px;
}

.search {
    display: inline-block;
}