<div>
    <app-search-box [searchTerm]="searchQuery$ | async" (onSearch)="onSearch($event)"></app-search-box>

    <div class="results">
        <div *ngIf="totalCount$ | async" class="result-info">
            {{totalCount$ | async}} matching results found.
        </div>
        <div *ngIf="loading$ | async"> Loading...</div>
        <div *ngFor="let search of searchResults$ | async" class="list">
            <app-search-result *ngIf="search" [result]="search" [searchTerm]="searchQuery$ | async"></app-search-result>
        </div>
        <app-pager [query]="searchQuery$ | async" (onPageChange)="onPageChange($event)" [totalCount]="totalCount$ | async" [currentPage]="pageNumber$ | async" [maxRecordInPage]="10"></app-pager>
    </div>
</div>